:root{
  background: white;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.4;
  color: #142646;
  --red: #CB5050;
  --orange: #F2A35A;
  --yellow: #F1C527;
  --green: #6FAE88;
  --blue: #60B0C1;
  --dark-blue: #2B3445;
  --light-gray: rgba(237, 239, 242, 1);
}


.title{
  font-size: 28px;
  font-weight: 600;
  font-family: 'DM Serif Display', serif;
}

nav{
  list-style: none;
  align-self: center;
  font-size: 18px;
  display: grid;
  margin-left: auto;
}

nav a{
  padding-left: 20px;
  text-decoration: none;
  color: #142646;
  margin-left: auto;
}

nav a:hover{
  text-decoration: underline;
}

.introduction{
  margin: 0 10px 0 10px;
}

.photo{
  transform: rotate(-2deg);
  height: 350px;
  margin-left: inherit;
  margin-right: auto;
  background: url(https://images.squarespace-cdn.com/content/v1/5762cadc5016e10c8738d4b0/1550779816007-U2KVVZTBX4KNFKVHQMZB/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/2018-05-HR-Stock-426-edit.jpg?format=500w) center no-repeat;
}

.illo{
  width: 100vw;
  margin-left: inherit;
  margin-right: auto;
  background: url(https://images.squarespace-cdn.com/content/v1/5762cadc5016e10c8738d4b0/1550779816007-U2KVVZTBX4KNFKVHQMZB/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/2018-05-HR-Stock-426-edit.jpg?format=500w) center no-repeat;
}

.link{
  text-decoration: none;
  color: #142646;
  position: relative;
  z-index: 1;
  display: inline-flex;
}

.link::before{
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #fed330 25%, rgba(0, 0, 0, 0) 40%);

  position: absolute;
  left: 0;
  bottom: 2px;
  z-index: -1;

  will-change: width;
  transform: rotate(-2deg);
  transform-origin: left bottom
}

.link:hover::before{
  width: 0;
}

/*
* animation styles
*/

.link::before{
  transition: width .1s ease-out;
}

.link:hover::before{
  transition-duration: .15s;
}

h1{
  font-size: 33px;
  font-family: 'DM Serif Display', serif;
}

h4{
  font-size: 18px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}

body{
 font-size: 20px;
}

hr{
  background-color: #B2BAC9;
  height: 1px;
  border: 0;
  margin: 40px 0 40px 0;
}

.footer{
  justify-content: space-between;
}

.pinned_header{
  z-index: 3;
  position: relative;
  margin-bottom: 20px;
  display: flex;
}

.sticky {
  position: sticky;
  top: 0px;
  background: white;
}

.sticky + .introduction{
  padding-top: 0px;
}

.contact{
  line-height: .7;
}

.atlanta{
  text-align: center;
  font-size: 14px;
  color: #4B5D7D;
  margin-top: 30px;
  margin-bottom: 30px;
}


/* Make it web responsive */

@media (min-width: 900px) {
.main_container{
  margin-top: 45px;
  margin-bottom: 4em;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

  .introduction{
  margin: 0 40px 0 40px;
}

  .footer{
   display: flex;
  }

  .sticky{
  position: fixed;
  top: 0px;
  width: 60%;
  background: white;
  }

  nav{
  display: flex;
  }
}
