:root {
  background: var(--light-gray);
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  color: #142646;
  --red: #cb5050;
  --orange: #f2a35a;
  --yellow: #f1c527;
  --green: #6fae88;
  --blue: #60b0c1;
  --dark-blue: #2b3445;
  --light-gray: #f9f9f9;
}
.html {
  width: fit-content;
}

body {
  margin: 8px;
  font-family: "Work Sans", sans-serif;
  color: #142646;
  background: var(--light-gray);
}

.main_container {
  margin-bottom: 4em;
  margin: auto;
  display: grid;
}

.title {
  font-size: 28px;
  font-weight: 600;
  font-family: "DM Serif Display", serif;
}

nav {
  list-style: none;
  align-self: center;
  font-size: 18px;
  display: grid;
  margin-left: auto;
}

nav a {
  text-decoration: none;
  color: #142646;
  margin-left: 20px;
}

nav a:hover {
  text-decoration: underline;
  color: #142646;
}

.footer a {
  text-decoration: none;
  font-size: 18px;
  color: #142646;
}
.footer a:hover {
  text-decoration: underline;
  color: #142646;
}

.photo {
  transform: rotate(-2deg);
  width: 85vw;
  justify-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.illo {
  padding-top: 30px;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
  color: #142646;
  position: relative;
  z-index: 1;
  display: inline-flex;
}

.link::before {
  content: "";
  width: 100%;
  height: 40%;
  background: #fed330 25%;
  /*background-image: linear-gradient(to top, #fed330 25%, rgba(0, 0, 0, 0) 40%);*/

  position: absolute;
  left: 0;
  bottom: 2px;
  z-index: -1;

  will-change: width;
  transform: rotate(-2deg);
  transform-origin: left bottom;
}

.link:hover::before {
  width: 0;
}

/* animation styles */

.link::before {
  transition: width 0.1s ease-out;
}

.link:hover::before {
  transition-duration: 0.15s;
}

h1 {
  font-size: 33px;
  font-family: "DM Serif Display", serif;
}

h4 {
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

hr {
  background-color: #b2bac9;
  height: 1px;
  border: 0;
  margin: 40px 0 40px 0;
}

.btn-outline-primary{
  color: #142646;
  border-color: #142646;
}

.btn-outline-primary:hover{
  color: #FFFFFF;
  background-color: #142646;
  border-color: #142646;
}

.footer {
  justify-content: space-between;
}

.pinned_header {
  z-index: 3;
  position: relative;
  margin-bottom: 20px;
  display: flex;
}

.sticky {
  position: sticky;
  width: auto;
  top: 0px;
  background: var(--light-gray);
}

.sticky + .introduction {
  padding-top: 0px;
}

.contact {
  line-height: 0.7;
}

.atlanta {
  text-align: center;
  font-size: 14px;
  color: #4b5d7d;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Make it web responsive */

@media (min-width: 700px) {
  .main_container {
    display: grid;
    margin-top: 45px;
    margin-bottom: 4em;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .photo {
    transform: rotate(-2deg);
    width: 530px;
    justify-self: center;
  }
  .introduction {
    margin: 0 40px 0 40px;
  }

  .illo {
    width: 700px;
  }

  .footer {
    display: flex;
  }

  .sticky {
    width: auto;
    position: sticky;
    top: 0px;
    background: var(--light-gray);
  }

  nav {
    display: flex;
  }
}

/* For maintaining gallery spacing */
.row {
  margin-bottom: 15px;
}

.col-md-4 {
  padding: 15px;
}

.img-fluid {
}

@media (max-width: 700px) {
  .col-md-4 {
  }
}
